.addBookForm {
  border: 1px solid lightblue;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: bold;
}

.submitBtn {
    background-color: transparent;
    border: 1px solid green;
    &:hover {
        cursor: pointer;
    }
    border-radius: 5px;
}